.button {
  width: 50px;
  height: 50px;
  font-size: 1.1em;
  color: antiquewhite;
  border-color: rgb(255, 113, 52);
  background-color: rgb(55, 62, 70);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#special_01 {
  color: red;
  font-size: 0.9em;
  background-color: rgb(104, 97, 87);
}
#special_02 {
  color: rgb(0, 255, 30);
}
#special_OPERATOR {
  background-color: rgb(255, 172, 71);
}
#special_OPERATOR01 {
  background-color: rgb(104, 97, 87);
}
.calculator {
  background-color: rgb(35, 35, 35);
  margin: auto;
  align-items: center;
  text-align: center;
  width: fit-content;
  border: 5px black solid;
  border-radius: 20px;
  box-shadow: inset 10px 10px 10px -10px rgb(0 0 0),
    inset -10px 10px 10px -10px rgb(0 0 0);
  text-align: center;
}
.row {
  margin: 8px 0;
}
.row input {
  text-align: right;
  height: 65px;
  width: 280px;
  font-size: 25px;
  padding: 10px 0px;
  margin: 15px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  background-color: antiquewhite;
  display: flex;
}
h2 {
  padding: 0%;
  margin: 0%;
  color: rgb(202, 69, 69);
}
body {
  background-color: burlywood;
}
